@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
}

/* 导航大背景 */
body {
	font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
	/*background: transparent url(../images/bg1.png) no-repeat center center fixed;*/
	background: transparent url(../images/bg1.png) no-repeat;
	/*margin-right: 1px;*/
	background-size: 100%;
}

/*menu开始*/
.imenu_bg {
	width: 915px;
	height: 50px;
	margin: 40px auto 0 auto;
	position: relative;
}

.imenu {
	width: 182px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	/* 导航分类按钮 */
	cursor: pointer;
	color: #FFF;
	float: left;
	background: #2980B9;
	background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, rgb(72, 158, 211));
	background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, rgb(76, 159, 211));
	margin-right: 1px;
}

.imenu a {
	color: #FFF;
	text-decoration: none
}

.imenu a:hover {
	text-decoration: underline;
}

.imenu_on {
	width: 182px;
	height: 50px;
	background-color: #FFF;
	color: #015d22;
	cursor: pointer;
	float: left;
	line-height: 50px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	margin-right: 1px;
	font-weight: bold;
}

.imenu_on a {
	color: #015d22;
	text-decoration: none;
}

.imenu_on a:hover {
	color: #015d22;
	text-decoration: underline;
}

.submnu {
	width: 915px;
	*width: 915px;
	_width: 915px;
	border-top: none;
	margin: 0 auto;
	display: none;
	position: absolute;
	left: 0px;
	top: 50px;
	z-index: 1000;
	background-color: #FFDEE9;
	background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
	filter: alpha(opacity=95);
	-moz-opacity: 0.8;
	border-radius: 0px 0px 20px 20px;
}
